.labWrapper {

  h3 {
    background: rgba(197, 197, 197, 0.34);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 15px;
  }

  pre {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    background: rgba(54, 55, 56, 0.61);
    padding: 20px 0 20px 30px;
    border-radius: 10px;

    code {
      color: rgba(1, 218, 253, 0.84);
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  pre {
    margin: 10px 0;
  }

  a {
    color: #57a2fa;
    text-decoration: underline;
  }

  ul li {
    font-size: 17px;
    margin-bottom: 12px;
    line-height: 18px;
  }

  ul li::marker {
    font-weight: bold;
  }

  ol {
    padding-left: 20px;
    list-style-type: decimal;
  }

  h1 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 39px;
  }

  h2 {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 10px;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
  }

  p {
    font-size: 18px;
    padding-bottom: 10px;
    text-indent: 20px;
  }

  pre, code {
    color: white;
  }
}

.backButton {
  left: 20px;
  top: 20px;
  position: fixed;
  background-color: #0c6fde;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all .2s;
  z-index: 1000;
}

.backButton:hover {
  background-color: #0056b3;
}

.scrollTopButton {
  position: fixed;
  top: 5%;
  right: 15%;
  background-color: #0c6fde;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scrollTopButton.show {
  opacity: 1;
}

.scrollTopButton:hover {
  background-color: #0056b3;
}
