.questonPage {
  h1 {
    text-align: center;
    border: 1px dashed white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    background: rgba(197, 197, 197, 0.34);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 15px;
  }

  pre {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    background: rgba(54, 55, 56, 0.61);
    padding-left: 30px;
    border-radius: 10px;
    border: 1px dashed white;

    code {
      color: rgba(1, 218, 253, 0.84);
    }
  }

  code {
    color: rgb(102, 220, 243);
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  ul li {
    font-size: 17px;
    margin-bottom: 12px;
    line-height: 18px;
  }

  ul li::marker {
    font-weight: bold;
  }

  ol {
    list-style-type: decimal;
    border: 1px solid white;
    padding: 20px 0 20px 30px;
    border-radius: 15px;
  }
}

.backButton {
  left: 20px;
  top: 20px;
  position: fixed;
  background-color: #0c6fde;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all .2s;
}