.mainTitle {
  text-align: center;
  margin-bottom: 20px;
}

.lectureLi {
  display: flex;
  align-items: center;
}

.index, .lectureLink {
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
  border: 1px solid white;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}

.index {
  width: 30px;
  text-align: center;
}

.lectureLink {
  width: 100%;
  margin-left: 10px;
  transition: .2s;

  &:hover {
    background: rgba(56, 56, 56, 0.74);
  }
}

.link, .questions {
  margin: 0 auto;
  display: inline;
  border: 1px solid white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}


.finalBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}